# tex files
*.aux
*.log
*.synctex.gz

# i/o files
input.txt
output.txt
*.exe
*lock.systems* 

# Unnecessary VS files and folders
Debug
*.sln
*.sdf
*.filters
*.vcxproj
*.suo
*.opensdf
*.gch

# Unnecessary Java files and folders
*lab*/*idea/
*/labs/*/*.iml
*/labs/*/out
*/labs/*/\.idea
*/\.idea
*.class
*.log

.idea
