#define IDR_MENU 10000
#define IDM_LOAD_FILE 10002
#define IDM_CHOOSE_COLOR 10003
#define IDM_NUMBER 10004
#define IDM_EXIT 10005
#define IDM_None 10008
#define IDM_AUTHOR 10007
IDR_MENU MENUEX
BEGIN
	POPUP "Main",10001
	BEGIN
		MENUITEM "Open file",IDM_LOAD_FILE
		MENUITEM "Choose color",IDM_CHOOSE_COLOR
		MENUITEM "Enter a number",IDM_NUMBER
		MENUITEM "Close",IDM_EXIT
	END
	POPUP "Help",10006
	BEGIN
		MENUITEM "Author",IDM_AUTHOR
	END
END
